name: Publish

on:
  push:
    branches:
      - main
      - next

permissions: write-all

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci

      - name: Build Package
        run: npm run build --if-present

      - name: Semantic Release
        run: npx semantic-release

